VITE_SUPABASE_URL=#
VITE_SUPABASE_ANON_KEY=#
VITE_ADMIN_EMAIL=#
VITE_CONTRIBUTOR_EMAILS=#
VITE_TURNSTILE_SITE_KEY=#
VITE_API_BASE_URL=https://trustlayer-backend.onrender.com/api/v1
# CLOUDFLARE_SECRET_KEY=#
VITE_WALLETCONNECT_PROJECT_ID=7da0bd20595f60255de0c615a49cd96d
