VITE_SUPABASE_URL=https://ilvjknzoillsapnutkyj.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_EMAIL=sujoymoulick05@gmail.com
VITE_CONTRIBUTOR_EMAILS="basakarnab430@gmail.com,somnath.uem0@gmail.com"
VITE_TURNSTILE_SITE_KEY="0x4AAAAAADE7TGLeQSceYB9z"
# CLOUDFLARE_SECRET_KEY="0x4AAAAAADE7TM4AqRayD0bhvcEVkuTDBEs"
